.container{
    
    
        margin-top: 50px;
          width: 100%;
         
          padding-top: 6px;
         padding-bottom: 6px;
          background-color: bisque;
         box-sizing: border-box;
      height: 80px;
      
         
       
        
      
         
      }
      .container h1{
          text-align: center;
      }
      .menubar a.log{
        background-color: gray;
      }
